<div class="modal fade" id="modal_cliente">
	<div class="modal-dialog">
		<div class="modal-content">
			
			<div class="modal-header">
				<button type="button" class="close" data-dimiss="modal" aria-label="close"><span aria-hidden="true">
				<h4 class="modla-title">Clientes : </h4>	
				</button>
			</div>

			<form name="frmCliente" novalidate="novalidate" ng-submit="guardar(clienteSel , frmCliente)">
			<div class="modal-body">
				<p>One fine body</p>

				<div class="form-group">
					<label>correo</label>
					<input type="email" class="form-control" placeholder="correo" ng-model="clienteSel.correo">
				</div>

				<div class="form-group">
					<label>direccciones</label>
					<input type="text" class="form-control" placeholder="direccciones" ng-model="clienteSel.direccion">
				</div>



				<div class="form-group">
					<label>id</label>
					<input type="text" class="form-control" placeholder="id" ng-model="clienteSel.id">
				</div>

				<div class="form-group">
					<label>nombre</label>
					<input type="text" class="form-control" placeholder="nombre" ng-model="clienteSel.nombre">
				</div>

				<div class="form-group">
					<label>pais</label>
					<input type="text" class="form-control" placeholder="pais" ng-model="clienteSel.pais">
				</div>


				<div class="form-group">
					<label>telefono1</label>
					<input type="text" class="form-control" placeholder="telefono1" ng-model="clienteSel.telefono1">
				</div>

				<div class="form-group">
					<label>telefono2</label>
					<input type="text" class="form-control" placeholder="telefono2" ng-model="clienteSel.telefono2">
				</div>



				<div class="form-group">
					<label>Zip</label>
					<input type="text" class="form-control" placeholder="zip" ng-model="clienteSel.zip">
				</div>

			</div>

			<div class="modal-footer">
				<button type="submit" class="btn btn.primary">Guardar</button>
			</div>
		</form>
		</div>
	</div>
</div>
